:root {
    --primary-color: #ffffff;
    --background-color: #000000;
    --text-color: #ffffff;
    --font-family: 'Arial', sans-serif;

    font-family: var(--font-family);
    color: var(--text-color);
}

html, body, .page, .page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    section.hidden {
        display: none;
    }
}

.experience {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.experience-canvas {
    width: 100%;
    height: 100%;
}

.glass-wrapper-translate {
    overflow: hidden;

    .glass-animation-wrapper {
        position: relative;
        top: 0;
        left: 0;
    }
}
.glass-wrapper-fade {
    .glass-fade-element {
        opacity: 0;
        transition: opacity 0.8s ease;
    }
    .glass-final-element {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        transition: visibility 0.8s ease;
    }
}

/*.back-button {
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: 10;
    width: 13rem;
    height: 13rem;
    transform: scale(1);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.8);
    overflow: hidden;

    &:before {
        content: "";
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease;
        z-index: -1;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--primary-color);
    }

    &:hover {
        &:before {
            left: 0;
        }

        transform: scale(1.1);
        svg {
            fill: var(--background-color);
        }
    }
}*/
.nav-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease;
    overflow: hidden;

    .nav-arrow {
        width: 7rem;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        transform: rotate(30deg);
        transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        fill: var(--primary-color);
        width: 4rem;
    }

    &.next {
        svg {
            transform: rotate(90deg);
        }

        &:hover {
            svg {
                transform: rotate(60deg);
            }
        }
    }

    &:hover {
        transform: scale(1.05);
        svg {
            transform: rotate(0deg);
        }
    }
}


.interactive {
    cursor: pointer;
}

.hero {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        span {
            font-size: 5rem;
            font-family: "Arial Black", sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            line-height: 0.8;
            opacity: 0;
            display: inline-block;
        }
    }
    .hero-title-wrapper {
        overflow: hidden;
    }
    .hero-buttons {
        position: absolute;
        bottom: 35%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;

        glass-box {
            div {
                padding: 0.5rem 1rem;
            }
        }

        .glass-animation-wrapper {
            transform: translateY(-100px);
        }
    }
    .hero-desc {
        position: absolute;
        bottom: 5%;
        left: -20px;
        right: -20px;

        .hero-desc-wrapper {
            display: flex;
            align-items: center;
            overflow: hidden;
            padding: 1rem 0;

            div {
                white-space: nowrap;
                animation: hero-desc-translate-left 50s linear infinite;
            }
        }
    }

    &.show {
        .hero-title {
            .hero-title-first.hero-title-1 {
                animation: hero-title-fade-in-down 0.8s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-first.hero-title-2 {
                animation: hero-title-fade-in-down 0.7s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-first.hero-title-3 {
                animation: hero-title-fade-in-down 0.6s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }

            .hero-title-second.hero-title-1 {
                animation: hero-title-fade-in-up 0.8s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-second.hero-title-2 {
                animation: hero-title-fade-in-up 0.7s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-second.hero-title-3 {
                animation: hero-title-fade-in-up 0.6s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
        }
        .hero-buttons {
            .glass-animation-wrapper {
                transform: translateY(0px);
                animation: hero-button-translate-down 1s ease forwards;
                animation-delay: 0s;
            }
        }

        .glass-fade-element {
            animation: glass-fade-in 0.5s ease forwards;
            animation-delay: 1.2s;
        }
        .glass-final-element {
            animation: glass-fake-fade-in 0.5s ease forwards;
            animation-delay: 1.2s;
        }
    }
    &.hide {
        .hero-title {
            .hero-title-first.hero-title-1 {
                animation: hero-title-fade-out-up 0.6s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-first.hero-title-2 {
                animation: hero-title-fade-out-up 0.7s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-first.hero-title-3 {
                animation: hero-title-fade-out-up 0.8s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }

            .hero-title-second.hero-title-1 {
                animation: hero-title-fade-out-down 0.6s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-second.hero-title-2 {
                animation: hero-title-fade-out-down 0.7s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
            .hero-title-second.hero-title-3 {
                animation: hero-title-fade-out-down 0.8s cubic-bezier(0.9, 0, 1, 1) forwards;
                animation-delay: 0s;
            }
        }
        .hero-buttons {
            .glass-animation-wrapper {
                animation: hero-button-translate-up 0.5s ease forwards;
                animation-delay: 0s;
            }
        }
        .glass-fade-element {
            animation: glass-fade-out 0.3s ease forwards;
            animation-delay: 0s;
        }
        .glass-final-element {
            animation: glass-fake-fade-out 0s ease forwards;
            animation-delay: 0.1s;
        }
    }
}

.projects-list {
    color: #fff;
    width: 40%;
    height: 86%;
    padding: 7% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        position: relative;
        width: 100%;

        &.glass-wrapper-fade {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .glass-final-element {
                visibility: visible;
            }

            glass-box {
                width: 100%;
                div {
                    font-size: 1.3rem;
                    width: calc(100% - 2rem);
                    display: flex;
                    justify-content: center;
                    padding: 0.7rem 1rem;
                }
            }
        }

        padding-bottom: 2rem;
        border-bottom: 3px solid #fff;
    }

    .project {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid #fff;

        .left-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
            transform: translateX(-20%);
            transition: transform 0.2s ease;

            .nav-arrow {
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            svg {
                transform: rotate(60deg);
                fill: var(--primary-color);
                width: 2rem;
            }
        }

        h1 {
            margin: 0;
            transition: font-size 0.2s ease;
            font-size: 1.3rem;
        }
        h2 {
            font-size: 1.2rem;
            font-weight: 700;
            margin-right: 0;
            transition: margin-right 0.2s ease;
        }

        &:hover {
            .left-wrapper {
                transform: translateX(0%);
            }
            h1 {
                font-size: 1.6rem;
            }
            h2 {
                margin-right: 1rem;
            }
        }
    }


/*    .open-project-button {
        position: absolute;

        &[data-project="bluerov"] {
            top: 30%;
            left: 15%;
        }
        &[data-project="ejeffrey"] {
            top: 75%;
            left: 15%;
        }
        &[data-project="neobot"] {
            top: 30%;
            left: 47.5%;
        }
        &[data-project="easeidf"] {
            top: 30%;
            right: 15%;
        }
        &[data-project="spider"] {
            top: 75%;
            left: 47.5%;
        }

        glass-box {
            div {
                padding: 0.5rem 1rem;
            }
        }
    }

    &.show {
        .glass-fade-element {
            animation: glass-fade-in 0.3s ease forwards;
            animation-delay: 0s;
        }
        .glass-final-element {
            animation: glass-fake-fade-in 0.3s ease forwards;
            animation-delay: 0s;
        }
    }
    &.hide {
        .glass-fade-element {
            animation: glass-fade-out 0.3s ease forwards;
            animation-delay: 0s;
        }
        .glass-final-element {
            animation: glass-fake-fade-out 0.3s ease forwards;
            animation-delay: 0s;
        }
    }*/
}

.project-details {
    width: 50%;
    height: calc(100% - 6rem);
    overflow: scroll;
    scrollbar-width: none;
    padding: 3rem 25%;

    .project-details-group {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .project-details-content-wrapper {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 3rem;
            align-items: center;
            transform: translateY(5%);
        }

        .project-details-title {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-20%);

            &.glass-wrapper-fade {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                glass-box {
                    width: 100%;
                    div {
                        width: calc(100% - 2rem);
                        display: flex;
                        justify-content: center;
                        padding: 0.7rem 1rem;
                    }
                }
            }
        }
        .project-details-img {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 1rem 1rem 0 0;
            opacity: 0;
        }
        .project-details-description {
            display: grid;
            grid-template-columns: 1fr 1fr 6fr;
            grid-template-rows: 1fr 1fr;
            font-size: 0.9rem;
            grid-gap: 0.5rem;

            .date {
                position: relative;
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            .location {
                position: relative;
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            .role {
                position: relative;
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }

            .description-text {
                font-size: 1rem;
                text-align: justify;
                grid-column: 3 / 4;
                grid-row: 1 / 3;
                padding: 0 0 0 1rem;
                margin: 0;
            }

            glass-box {
                width: 100%;
                div {
                    width: calc(100% - 2rem);
                    display: flex;
                    justify-content: center;
                    padding: 0.5rem 1rem;
                }
            }
        }

        .project-details-content {
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            padding-bottom: 3rem;

            section {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                h2 {
                    width: 100%;
                }
                h2:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: var(--primary-color);
                    margin-top: 0.5rem;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.2rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }

                &.skills {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    glass-box {
                        div {
                            padding: 0.5rem 1rem;
                        }
                    }
                }
            }

            &.bluerov2 {
                .images {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
                }
            }
            &.neobot {
                .images {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 5rem;

                    img {
                        width: 40%;
                        border-radius: 2rem;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }
                }
            }
            &.easeidf {
                img {
                    width: 30%;
                    border-radius: 2rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
                .interface > div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    gap: 2rem;
                    margin-bottom: 2rem;
                }
                .widget-images {
                    img {
                        border-radius: 0 0 1rem 1rem;
                        width: 100%;
                    }
                }

            }
        }
    }

    .nav-button {
        &.back {
            top: 40%;
            left: 10%;
            transform: translateX(-50%);
        }
        &.next {
            left: auto;
            top: 40%;
            right: 10%;
            transform: translateX(50%);
        }
    }

    &.show {
        .nav-button {
            transform: translateX(0%);
            &.back {
                animation: details-button-translate-right 0.5s ease;
                animation-delay: 1s;
            }
            &.next {
                animation: details-button-translate-left 0.5s ease;
                animation-delay: 1s;
            }
            .glass-fade-element {
                animation: glass-fade-in 0.5s ease forwards;
                animation-delay: 1s;
            }
            .glass-final-element {
                animation: glass-fake-fade-in 0.5s ease forwards;
                animation-delay: 1s;
            }
        }

        .project-details-group.show {
            display: flex;

            .glass-fade-element {
                animation: glass-fade-in 0.5s ease forwards;
                animation-delay: 0.2s;
            }
            .glass-final-element {
                animation: glass-fake-fade-in 0.5s ease forwards;
                animation-delay: 0.2s;
            }

            .project-details-title {
                transform: translateY(0%);
                animation: details-title-translate-down 0.5s ease;
                animation-delay: 0s;
            }
            .project-details-content-wrapper {
                transform: translateY(0%);
                animation: details-content-translate-up 1.5s ease;
                animation-delay: 0s;
            }
            .project-details-img {
                opacity: 1;
                animation: details-content-fade-in 1.5s ease;
                animation-delay: 0s;
            }

            .project-details-content {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }
    }
}


@keyframes hero-title-fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes hero-title-fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes hero-title-fade-out-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(70px);
    }
}
@keyframes hero-title-fade-out-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-70px);
    }
}

@keyframes hero-desc-translate-left {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes hero-button-translate-down {
    0% {
        transform: translateY(-100px)
    }
    75% {
        transform: translateY(-100px)
    }
    100% {
        transform: translateY(0px)
    }
}
@keyframes hero-button-translate-up {
    0% {
        transform: translateY(0px)
    }
    75% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(-100px)
    }
}



@keyframes details-button-translate-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes details-button-translate-left {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes details-title-translate-down {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes details-content-translate-up {
    0% {
        transform: translateY(5%);
    }
    34% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes details-content-fade-in {
    0% {
        opacity: 0;
    }
    34% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes glass-fade-in {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes glass-fake-fade-in {
    0% {
        visibility: hidden;
    }
    95% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes glass-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes glass-fake-fade-out {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}


